@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hide-scrollbar {
    @apply overflow-y-auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    &::-webkit-scrollbar-horizontal {
      display: none;
    }
  }
  .transition-sexy {
    @apply transition duration-300 ease-in-out;
  }
}
